    <!-- Location Section -->
    <section id="location" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Location</h2>
                <p>Located in the heart of Main Street Novi, {{ site.store_name }} is easily accessible with ample free parking.</p>
            </div>
        </div>
        <div class="row">
          <p>
            43155 Main Street #210<br>
            Novi, MI 48375<br>
            (248) 308-5767
          </p>
        </div>
    </section>
